<template>
  <form  >
     <v-container grid-list-md>
        <v-layout wrap>
            <v-flex xs12 md6>
              <v-text-field
		type="number"
                color="cyan darken-4"
                v-model="planejamentoTroca"
                label="SETUP"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6>
              <v-text-field
                type="number"
                color="cyan darken-4"
                v-model="tempoPreventiva"
                label="Tempo preventiva"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md6>
              <v-text-field
                type="number"
                color="cyan darken-4"
                v-model="tempoCorretiva"
                label="Tempo corretiva"
              ></v-text-field>
            </v-flex>
           
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-btn @click="sendNumbers">Simular</v-btn>
              <v-btn @click="clearResults">Limpar</v-btn>
            </v-flex>
          </v-layout>
          <v-layout v-if="results">
            <v-flex xs12 >
              <v-alert
                :value="results != null"
                type="info"
              >
                Será necessário no Máximo {{results[0]}} funcionários.
              </v-alert>
               <v-alert
                :value="results != null"
                type="success"
              >
                Será necessário em Média {{results[1]}} funcionários.
              </v-alert>
               <v-alert
                :value="results != null"
                type="error"
              >
                Será necessário no Mínimo {{results[2]}} funcionários.
              </v-alert>
            </v-flex>
        </v-layout>
      </v-container>
  </form>
</template>
<script>
export default {
  name: "FormCadastro",
  data: () => ({
    planejamentoTroca: "",
    tempoPreventiva: "",
    tempoCorretiva: "",
    results: null
  }),
  methods: {
    async sendNumbers() {
      const data = {
        planejamentoTroca: this.planejamentoTroca,
        tempoPreventiva: this.planejamentoTroca,
        tempoCorretiva: this.tempoCorretiva,
     
      };
      const { data: dataApi } = await this.$axios.post("gplast/doCount", data);
      console.log({ dataApi });
      this.results = dataApi[0];
    },
    clearResults() {
      this.planejamentoTroca= "",
      this.tempoPreventiva= "",
      this.tempoCorretiva= "",
      this.results= null
    }
  }
};
</script>
