<<template>
  <v-footer
    dark app fixed height="auto"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="cyan darken-4 footCard">
        <strong class="subheading">Get connected with us on social networks!</strong>
      </v-card-title>

      <v-card-actions class="grey darken-3 footCardActions">
        &copy;2018 — <strong>Vuetify</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>
<script>
export default {
  name: "FooterApp",
  data: () => ({
    icons: [
      "fab fa-facebook",
      "fab fa-twitter",
      "fab fa-google-plus",
      "fab fa-linkedin",
      "fab fa-instagram"
    ]
  })
};
</script>
<style scoped>
  .footCard{
    height: 30px;
    justify-content: center;
  }
  .footCardActions{
    height: 30px;
    justify-content: center;
  }
</style>

